.gif-container {
    position: relative;
}

.gif-image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gif-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gif-container:hover .gif-image {
    opacity: 0.3;
}

.gif-container:hover .gif-middle {
    opacity: 1;
    cursor: pointer;
}

.gif-text {
    color: white;
    font-size: 36px;
    padding: 10px 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#alert-box {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 1.2em 0;
    background: #5bf076;
    color: #3c763d;
    border-radius: 2px;
    visibility: hidden;
}

.slide-down {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(0%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(0%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}