.container {
    max-width: 100%;
    background: black;
}

.gifs-container {
    margin: 0 auto;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.gifs-item {
    flex-grow: 10;
    flex-shrink: 20;
    flex-basis: auto;
    padding-bottom: 10px;
}

.header {
    font-family: interface, Helvetica Neue, helvetica, sans-serif;
    padding-top: 20px;
    letter-spacing: .01em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    color: #b2b2b2;
    font-size: 14px;
}